<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://codev.com/" target="_blank">
            CoDev
          </a>
        </li>
        <li>
          <a href="https://codev.com/why-codev/" target="_blank">
            Why CoDev
          </a>
        </li>        
        <li>
          <a href="https://careers.codev.com/about-us-2/" target="_blank">
            About Us
          </a>
        </li>
        <li>
          <a href="https://careers.codev.com/our-people/" target="_blank">
            Our People
          </a>
        </li>
        <li>
          <a href="https://careers.codev.com/zoho-job-list/" target="_blank">
            Job List
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      © Copyright 2016 CoDev | All Rights Reserved
    </div>
  </div>
</footer>