<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Country</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Renante Entera</td>
                                        <td>Senior PHP Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Rodolfo Torralba Jr.</td>
                                        <td>Talent Supervisor</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Edmondo Abuda</td>
                                        <td>PHP Full Stack Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Trylle Goodie De Leon</td>
                                        <td>.NET Full Stack Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Country</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Renante Entera</td>
                                        <td>Senior PHP Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Rodolfo Torralba Jr.</td>
                                        <td>Talent Supervisor</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Edmondo Abuda</td>
                                        <td>PHP Full Stack Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Trylle Goodie De Leon</td>
                                        <td>.NET Full Stack Developer</td>
                                        <td>Philippines</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>