.full-width-table {
  width: 100%;
}
  .full-width-table th {
    font-weight: bold;
  }
  .full-width-table td {
    font-size: 12px;
    text-align: left;
  }

.small-table{
  overflow-x: scroll !important;
}